site_name: k3down2
site_description: Convert markdown segments into images and other transferable media
site_url: https://k3down2.readthedocs.io
repo_url: https://github.com/pykit3/k3down2
repo_name: pykit3/k3down2

theme:
  name: material
  palette:
    primary: blue
    accent: blue

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            show_source: true
            show_root_heading: true
            heading_level: 2

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
